-var project =name
form(action=`/api/issues/:${project}`, method="post")

    //- h3 Create new Issue for #{name}

    input(type="text" name="title" placeholder="*Issue title")
    br
    textarea(name="text", cols="30", rows="10" placeholder="*Text")
    br
    input(type="text" name="creator" placeholder="*Created by")
    br

    input(type="text" name="assignee" placeholder="Assigned to")
    br
    input(type="text" name="status" placeholder="Status (Open or Closed)")
    br

    button(type="submit" class="button-primary") Submit