doctype html
html
    include ./components/head.pug
    body

        a(href="/") Home

        h1 Issue Tracker API

        include ./components/newProjectForm.pug

        include ./components/projectList.pug